<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Convite de campanha</title>
  </head>
  <body>
    <h1>Voce recebeu um convite para responder à campanha <%= @campaign.name %></h1>
    
    <p><%= @campaign.text %></p>
    
    <p>
      Você também pode responder à pesquisa pelo Balde de Inovação
      <%= link_to "Balde de Inovação", new_answer_url(campaign_id: @campaign.id, user_id: @user.id) %>
    </p>
    <p>Agradecemos a colaboração e rumo às bootcoins!</p>
  </body>
</html>