<h1>RESPOSTAS DA CAMPANHA <%= @campaign.name %></h1>
<div class="campaign-wrapper">
  <% @campaign.answers.each do |ans| %>
    <div class="campaign-card">
      <p><%= ans.text %></p>
      <div>
      <p> Setor: <%= ans.user.sector.name %></p>
      </div> 
    </div> 
  <% end %>
</div> 
  
<div class="links">
  <%= link_to "Nova campanha", new_campaign_path %>
  <%= link_to "Ver todas campanhas", campaign_index_path %>
</div>

