<main>
  <div class="box" style="align-items: center;">
    <h1>NOVA RESPOSTA</h1>
    <h1><%= @campaign.name %></h1>
    <p><%= @campaign.text %></p>
    
    <%= form_with model: Answer.new, url: answer_index_path do |f| %>
      <div class="tfield">
        <%= f.label :text %><br />
        <%= f.text_area :text, autofocus: true, autocomplete: "text", rows: 5 %>
      </div>
      <%= f.hidden_field :campaign_id, value: params[:campaign_id] %>
      <%= f.hidden_field :user_id, value: params[:user_id] %>
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</main>
