:root {
  --bg: whitesmoke;
  --primary: #ebcd21;
  --primary-opaque: #6a5c0d;
  --primary-light: #fff1a2;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Liberation Sans', 'Courier new', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-light);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);

  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
}
main .box {
  background-color: var(--bg);
  padding: 30px 50px;
  border-radius: 5px 50px 5px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main.login-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

main.login-screen .box {
  background-color: var(--primary-light);
  padding: 30px 50px;
  border-radius: 5px 50px 5px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main label {
  font-size: 10px;
  cursor: pointer;
}

main .box form {
  width: 100%;
}

main .tfield em {
  width: 100%;
}

main .tfield em {
  font-size: 8px;
}

main .tfield input,
main .tfield textarea {
  border-radius: 5px;
  width: 100%;
  padding: 6px 10px;
}

main .sfield {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

main .field {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 5px;
  margin: 10px;
}

main .field input {
  cursor: pointer;
}

main .actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

button,
input[type='submit'] {
  padding: 8px 14px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-opaque);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: var(--primary-opaque);
  border: 1px solid transparent;
  padding: 4px;
  border-radius: 3px;
}

.links a:hover {
  border-color: var(--primary-opaque);
}

.radio-button-wrapper {
}

.radio-button-wrapper .item {
}

.campaign-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  gap: 20px;
  padding: 20px;
}
.campaign-card {
  padding: 10px;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 200px;
}
