<h1>Campanhas disponíveis</h1>
<div class="campaign-wrapper">
  <% @campaigns.each do |c| %>
    <div class="campaign-card">
      <p><%= c.name %></p>
      <div>
      <p> Setores:</p>
      <% c.sectors.each do |s| %>
        <p><%= s.name %></p>        
      <% end %>
      </div> 
      <div class="links">
        <%= link_to "Responder", new_answer_path(campaign_id: c.id, user_id: current_user) %>
        <%= link_to "Ver todas respostas", answer_index_path(campaign_id: c.id) %>
      </div> 
    </div> 
  <% end %>
</div> 
  
<div class="links">
  <%= link_to "Nova campanha", new_campaign_path %>
</div>
