<main>
  <div class="box">
    <h1>NOVA CAMPANHA</h1>
    <%= form_with model: Campaign.new, url: campaign_index_path do |f| %>
      <div class="tfield">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "text" %>
      </div>
      <div class="tfield">
        <%= f.label :text %><br />
        <%= f.text_area :text, autofocus: true, autocomplete: "text", rows: 5 %>
      </div>
      <div class="radio-button-wrapper">
        <div class="field">
          <%= f.radio_button :medium, "bot" %>
          <%= f.label :medium, "Chatbot", value: 'bot' %>
        </div>
        <div class="field">
          <%= f.radio_button :medium, "form" %>
          <%= f.label :medium, "Form", value: "form" %>
        </div>
      </div>
      <div class="checkbox-wrapper" data-controller="check-multiple">
        <% Sector.all.each do |s| %>
          <div class="field">
            <%= f.check_box "sector_#{s.id}", {data: {action: "check-multiple#toggle"}}, s.id %>
            <%= f.label "sector_#{s.id}", s.name %>
          </div>
        <% end %>
        <%= f.hidden_field :sector_ids, "data-check-multiple-target": "hiddenField" %>
      </div>
      <div class="actions">
        <%= f.submit "SALVAR" %>
      </div>
    <% end %>
  </div>
</main>
