<h1>DETALHES DA CAMPANHA</h1>
<p><%= @campaign.name %></p>
<p><%= @campaign.medium %></p>
<div class="links">
  <%= link_to "Ver todas respostas", answer_index_path(campaign_id: @campaign.id) %>
  <%= link_to "Responder", new_answer_path(campaign_id: @campaign.id, user_id: current_user) %>
</div>
<div class="links">
  <%= link_to "Ver todas campanhas", campaign_index_path %>
</div>

