<!DOCTYPE html>
<html>
  <head>
    <title>Balde de Inovações</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://cdn-icons-png.flaticon.com/512/4599/4599134.png" %>
  </head>

  <body>
    <%= button_to "LOGOUT", destroy_user_session_path, method: :delete, style: "position: absolute;right: 10px;top:10px" %>
    <%= yield %>
  </body>
</html>
